
  
  html, body{
    background-color: #fff;
  }
  header{
    padding: 20px;
  }
  main{
    padding: 20px;
    background-color: #f2f4f7;
  }
  .mainContainer{
    background-color: #fff;
  }
.header{
  display: flex;
  gap: 2px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100px;
  margin-bottom: 8px;
}

.btnContainer{
  border: none;
  text-align: center;
  line-height: 1rem;
  letter-spacing: 0.5px;
  background-color: #fff;
  cursor: pointer;
  font-size: bold;
  font-weight: 500;

}

.labelStyles{
  font-size: 14px;
  font-weight: 700;
  color: 'rgb(128, 125, 125)';
  line-height: '1rem';
  margin-bottom: '12px';
}